textarea{
    width:20em;
    height:15em;
}
.boxes{
    display:flex;
    max-width: 500px;
    margin-right:auto;
    background-color: white;
  }
  
.box{
    vertical-align: bottom;
    border: 1px solid #333;
    border-right: none;
    background-color: white;
    width: 100px;
    height: 150px;
    float:left;
  }

#box5{
    border-right: 1px solid #333;
  }