body{
  width:80%;
  margin: auto;
  text-align: center; 
}
textarea{
    width:20em;
    height:15em;
    font-size:16px;
}
.boxes{
    display:flex;
    max-width: 500px;
    margin:  0 auto;  
    align-items: center;
    background-color: white;
  }
  
.box{
    vertical-align: bottom;
    border: 1px solid #333;
    border-right: none;
    background-color: white;
    width: 100px;
    height: 180px;
    float:left;
  }

#box5{
    border-right: 1px solid #333;
  }
#checkButton,
#close,
#reAssign,
#resetButton,
#roleResetButton {
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px;
  margin: 16px auto 0;
  background: #4caf50;
  color: white;
}
#mask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
  
#modal {
  background: #fff;
  color: #555;
  max-width: 23em;
  padding: 3em;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 2;
}
  
#modal p {
  margin: 0 0 20px;
}
#mask.hidden {
  display: none;
}
  
#modal.hidden {
  display: none;
}